{% extends 'users/base.html' %}

{% block content %}
<style>
    .container {
      display: inline-block;
      width: 40%;
      height: 50%;
      vertical-align: top;
    }
    
    .graph-container {
        width: 50%;
    }
    
    .stats-container {
      float: right;
      vertical-align: top;
    }
</style>
    
<p> *These graphs are powered by data from coingeko and are set to refresh every hour</p>
<div class="stats-container container">
    <h1>Stats</h1>
    <p> These stats are powered by data from coingeko and update every time the page refreshes.</p>
    <h2>Here are some stats about Bitcoin </h2> 
    <p>Current price £{{ crypto_stats.bitcoin.current_price }} </p>  
    <p>Market cap £{{ crypto_stats.bitcoin.market_cap }} </p>    
    <p>24hour High £{{ crypto_stats.bitcoin.high_24h }} </p>  
    <p>24hour low £{{ crypto_stats.bitcoin.low_24h }} </p>  
    <p>Price change in last 24hours £{{ crypto_stats.bitcoin.price_change_24h|floatformat:2 }} </p>  
    <p>Price change in last 24hours £{{ crypto_stats.bitcoin.price_change_percentage_24h |floatformat:2}} %</p> 

    <h2>Here are some stats about Ethereum </h2> 
    <p>Current price £{{ crypto_stats.ethereum.current_price }} </p>  
    <p>Market cap £{{ crypto_stats.ethereum.market_cap }} </p>    
    <p>24hour High £{{ crypto_stats.ethereum.high_24h }} </p>  
    <p>24hour low £{{ crypto_stats.ethereum.low_24h }} </p>  
    <p>Price change in last 24hours £{{ crypto_stats.ethereum.price_change_24h|floatformat:2 }} </p>  
    <p>Price change in last 24hours {{ crypto_stats.ethereum.price_change_percentage_24h|floatformat:2 }} %</p>  
</div>    
<div class="graph-container container">
    <h1>Bitcoin Price Chart</h1>
    <canvas id="bitcoin-chart"></canvas>
</div>
    
<div class="graph-container container">
    <h1>Ethereum Price Chart</h1>
    <canvas id="ethereum-chart"></canvas>
</div>
    

    
  

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@1.1.1/dist/chartjs-plugin-zoom.min.js"></script>
<script>
var btc_ctx = document.getElementById('bitcoin-chart').getContext('2d');
var eth_ctx = document.getElementById('ethereum-chart').getContext('2d');
// const data = JSON.parse('{{ bitcoin_data|escapejs }}');


var btc_chart = new Chart(btc_ctx, {
    type: 'line',
    data: {
        datasets: [{
            label: 'Bitcoin Price (GBP)',
            data:[],
            borderColor: 'blue',
            borderWidth: 1, 
            pointRadius: 0,
            fill: false
        }]
    },
    options: {
        plugins: {
            legend: {
                display: false
            },
            tooltip: {
                enabled: true 
            }
        },
        scales: {
            x: {
                title: {
                    display: true,
                    text: 'Time'
                },     
            },
            y: {
                title: {
                    display: true,
                    text: 'Price (£)'
                }
            }
        }
    }  
});

var eth_chart = new Chart(eth_ctx, {
    type: 'line',
    data: {
        datasets: [{
            label: 'Ethereum Price (GBP)',
            data:[],
            borderColor: 'blue',
            borderWidth: 1, 
            pointRadius: 0,
            fill: false
        }]
    },
    options: {
        plugins: {
            legend: {
                display: false
            },
            tooltip: {
                enabled: true 
            }
        },
        scales: {
            x: {
                title: {
                    display: true,
                    text: 'Time'
                }
            },
            y: {
                title: {
                    display: true,
                    text: 'Price (£)'
                }
            }
        }
    }  
});

function fetch_btc_data() {
    fetch('/bitcoin-chart/')
    .then(response => response.json())
    .then(data => {
        btc_chart.data.datasets[0].data = data.data;
        btc_chart.update();
    });
}

function fetch_eth_data() {
    fetch('/ethereum-chart/')
    .then(response => response.json())
    .then(data => {
        eth_chart.data.datasets[0].data = data.data;
        eth_chart.update();
    });
}
fetch_btc_data(); 
fetch_eth_data();  
setInterval(fetch_btc_data, 3600000);   
setInterval(fetch_eth_data, 3600000);    // updates every hour at the moment but data only daily , (60000)=  minute 
</script>
{% endblock %}
