{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content%}
        <div class="login-container">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="login-from">
                    <h1> Login</h1>
                    {{ form|crispy }}
                </div>
                <div id="signup-button">
                    <button class="btn ">Login</button>
                </div>
                <div>
                    <a href="{% url 'register' %}">Dont have an account? </a>
                </div>
        </div>
{% endblock%}
    