{% extends 'users/base.html' %}
{% load crispy_forms_tags %}


{% block content%}
    <div class="container">
        
        <h2>Hello {{user.username}}</h2>
        <h3>ADD BTC Address and Currency Name</h3>
        <form method="post" action="{% url 'portfolio' %}">
            {% csrf_token %}
            <label for="btc_address">BTC Address:</label>
            <input type="text" id="btc_address" name="btc_address" required>
            <br>
            <label for="currency_name">Currency Name:</label>
            <input type="text" id="currency_name" name="currency_name" required>
            <br>
            <button type="submit">Add</button>
          </form>
    </div>

{%endblock%}