{% extends 'users/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <h2>Hello {{user.username}}</h2>
        <h3>Add wallet address and select currency name to add a new holding to your portfolio</h3>
        <form method="post" action="{% url 'portfolio' %}">
            {% csrf_token %}
            <label for="wallet_address">Wallet Address:</label>
            <input type="text" id="wallet_address" name="wallet_address" pattern="^(bc1|[13]|0x)[a-zA-HJ-NP-Z0-9]{25,}$" title="Please enter a valid Bitcoin or Ethereum address" required>
            <br>
            <label for="currency_name">Currency Name:</label>
            <select id="currency_name" name="currency_name" required>
                <option value="">Select a currency...</option>
                <option value="btc">Bitcoin</option>
                <option value="eth">Ethereum</option>
                <!-- <option value="Litecoin">Litecoin</option> -->
            </select>
            <br>
            
            <button type="submit">Add</button>
            
        </form>

        <h2>Your Portfolio</h2>
        {% if portfolios %}
            <ul>
                {% for portfolio in portfolios %}
                    {% if portfolio.currency == 'btc' %}
                        <li>{{ portfolio.currency }}: {{ portfolio.address }}     Balance: {{ portfolio.balance}}BTC.     Value: £{{ portfolio.value|floatformat:2 }} </li>
                    {% elif portfolio.currency == 'eth' %}
                        <li>{{ portfolio.currency }}: {{ portfolio.address }}     Balance: {{ portfolio.balance }}ETH.  Value: £{{ portfolio.value|floatformat:2 }}</li>
                    {% else %}
                        <li>{{ portfolio.currency }}: {{ portfolio.address }} is not supported.</li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% else %}
            <p>You don't have any portfolios yet.</p>
        {% endif %}
    </div>
{% endblock %}

