{% extends 'users/base.html' %}
{% block content%}
    <div class="profile-page">
        <h1 class="display-4">Profile Page</h1>
        <p> On this page you can view your username and contact email</p>
        <p>If you wish to remove all your user details you can also do so</p>
    </div>

    <div class="profile-container">
        <h2> Your username is: {{user.username}}</h2>
        <h2> Your contact email is: {{user.email}}</h2>
        <a href="{% url 'logout' %}" class="btn">Logout</a>
        <a href="{% url 'delete_user' %}" class="btn btn-danger">Delete Account</a>   
    </div>
{%endblock%}