{% extends 'users/base.html' %}
{% load crispy_forms_tags %}

{% block content%}
    <div class="register-container">

        <form action="" method="POST">
            {% csrf_token %}
            <div class="register-from">
                <h1>Register Now </h1>
                {{ form|crispy }}
            </div>
            <div id="signup-button">
                <button class="btn ">Register</button>
            </div>
            <div>
                <br> 
                <a href="{% url 'login' %}">Already have an account? </a>
            </div>
    </div>
{% endblock%}
